<div class="event-container" [class.scrolled]="isScrolled">
  <!-- <app-navbar 
    [links]="eventConfig.navLinks"
    [logo]="eventConfig.logo"
    [isScrolled]="isScrolled"
    (scrollTo)="scrollToSection($event)"
    (buyTickets)="buyTickets($event)">
  </app-navbar> -->

  <app-hero-split
    id="home"
    [eventConfig]="eventConfig"
    [bannerImages]="eventConfig.bannerImages"
    [sponsors]="sponsors"
    [artists]="artists"
    [contacts]="contactNumbers"
    [venues]="venues"
    [stats]="eventConfig.stats"
    (scrollTo)="scrollToSection($event)"
    (buyTickets)="buyTickets($event)">
  </app-hero-split>

  <app-artists-section
    id="artists"
    [artists]="artists"
    (openArtist)="openArtistModal($event)">
  </app-artists-section>

  <app-venues-section
    id="venues"
    [venues]="venues"
    [selectedVenueId]="selectedVenueId"
    (venueSelected)="selectVenue($event)"
    (buyTickets)="buyTickets($event)">
  </app-venues-section>


  <app-contact-section
    id="contactus"
    [contacts]="contactNumbers"
    (buyTickets)="buyTickets($event)"
    (scrollTo)="scrollToSection($event)">
  </app-contact-section>

  
  <app-privacy-policy
    id="privacy">
  </app-privacy-policy>

  <app-footer
    [logo]="eventConfig.logo"
    [year]="eventConfig.year">
  </app-footer>


</div>